<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServletCustomer</servlet-name>
        <servlet-class>controller.LoginServletCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletStaff</servlet-name>
        <servlet-class>controller.LoginServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletAdmin</servlet-name>
        <servlet-class>controller.LoginServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServletCustomer</servlet-name>
        <servlet-class>controller.RegisterServletCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServletStaff</servlet-name>
        <servlet-class>controller.RegisterServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServletCustomer</servlet-name>
        <servlet-class>controller.EditServletCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServletStaff</servlet-name>
        <servlet-class>controller.EditServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServletAdmin</servlet-name>
        <servlet-class>controller.EditServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServletCustomer</servlet-name>
        <servlet-class>controller.DeleteServletCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletCustomer</servlet-name>
        <url-pattern>/LoginServletCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletStaff</servlet-name>
        <url-pattern>/LoginServletStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletAdmin</servlet-name>
        <url-pattern>/LoginServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServletCustomer</servlet-name>
        <url-pattern>/RegisterServletCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServletStaff</servlet-name>
        <url-pattern>/RegisterServletStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServletCustomer</servlet-name>
        <url-pattern>/EditServletCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServletStaff</servlet-name>
        <url-pattern>/EditServletStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServletAdmin</servlet-name>
        <url-pattern>/EditServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServletCustomer</servlet-name>
        <url-pattern>/DeleteServletCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
