<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ServletDBConnect</servlet-name>
        <servlet-class>controller.ServletDBConnect</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletCustomerLogin</servlet-name>
        <servlet-class>controller.ServletCustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletStaffLogin</servlet-name>
        <servlet-class>controller.ServletStaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminLogin</servlet-name>
        <servlet-class>controller.ServletAdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCustomerRegister</servlet-name>
        <servlet-class>controller.ServletCustomerRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletStaffRegister</servlet-name>
        <servlet-class>controller.ServletStaffRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCustomerEdit</servlet-name>
        <servlet-class>controller.ServletCustomerEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletStaffEdit</servlet-name>
        <servlet-class>controller.ServletStaffEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminEdit</servlet-name>
        <servlet-class>controller.ServletAdminEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCustomerDelete</servlet-name>
        <servlet-class>controller.ServletCustomerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>controller.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductCreate</servlet-name>
        <servlet-class>controller.ServletProductCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductDelete</servlet-name>
        <servlet-class>controller.ServletProductDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCartInit</servlet-name>
        <servlet-class>controller.ServletCartInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCartAdd</servlet-name>
        <servlet-class>controller.ServletCartAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCartDelete</servlet-name>
        <servlet-class>controller.ServletCartDelete</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletDBConnect</servlet-name>
        <url-pattern>/ServletDBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCustomerLogin</servlet-name>
        <url-pattern>/ServletCustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletStaffLogin</servlet-name>
        <url-pattern>/ServletStaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminLogin</servlet-name>
        <url-pattern>/ServletAdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCustomerRegister</servlet-name>
        <url-pattern>/ServletCustomerRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletStaffRegister</servlet-name>
        <url-pattern>/ServletStaffRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCustomerEdit</servlet-name>
        <url-pattern>/ServletCustomerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletStaffEdit</servlet-name>
        <url-pattern>/ServletStaffEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminEdit</servlet-name>
        <url-pattern>/ServletAdminEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCustomerDelete</servlet-name>
        <url-pattern>/ServletCustomerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductCreate</servlet-name>
        <url-pattern>/ServletProductCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductDelete</servlet-name>
        <url-pattern>/ServletProductDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCartInit</servlet-name>
        <url-pattern>/ServletCartInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCartAdd</servlet-name>
        <url-pattern>/ServletCartAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCartDelete</servlet-name>
        <url-pattern>/ServletCartDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
