/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2021, 2:36:16 PM
    Author     : ormus
*/
@font-face {
    font-family: 'TerminessTTF Nerd Font Mono';
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Italic.eot');
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Italic.woff2') format('woff2'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Italic.woff') format('woff'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Italic.ttf') format('truetype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Italic.svg#TerminessTTFNerdFontCompleteM-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TerminessTTF Nerd Font Mono';
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Medium.eot');
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Medium.woff2') format('woff2'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Medium.woff') format('woff'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Medium.ttf') format('truetype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Medium.svg#TerminessTTFNerdFontCompleteM-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TerminessTTF Nerd Font Mono';
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Bold.eot');
    src: url('../fonts/TerminessTTFNerdFontCompleteM-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Bold.woff2') format('woff2'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Bold.woff') format('woff'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Bold.ttf') format('truetype'),
        url('../fonts/TerminessTTFNerdFontCompleteM-Bold.svg#TerminessTTFNerdFontCompleteM-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
